:root {
  --font-family-default: "League Spartan", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-black: 800;

  --fs-400: 0.8125rem;
  --fs-500: 0.9625rem;
  --fs-900: 2rem;

  --clr-primary: hsl(300, 43%, 22%);
  --clr-headline-desc: hsl(303, 10%, 53%);
  --clr-bg-rating-item: hsl(300, 24%, 96%);
  --clr-user-state: hsl(333, 80%, 67%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family-default);
  padding: 5rem 2rem;
}

@media (min-width: 60rem) {
  :root {
    --fs-900: 3rem;
  }

  body {
    min-height: 100vh;
  }
}

.container {
  max-width: 1280px;
  /* background-color: pink; */
  position: relative;
  background-image: url(./assets/images/bg-pattern-top-desktop.svg),
    url(./assets/images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: max(50%, 400px), 80%;
}

/* @media (min-width: 60rem) {
  .container {
    background-image: url(./assets/images/bg-pattern-top-desktop.svg),
      url(./assets/images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: max(50%, 400px), 80%;
  }
} */

.top-section {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 60rem) {
  .top-section {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 60rem) {
  .headline {
    margin-bottom: 0;
    align-items: start;
    text-align: start;
  }
}

.headline .large-text {
  max-width: 20rem;
  color: var(--clr-primary);
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  margin-bottom: 1rem;
}

@media (min-width: 60rem) {
  .headline .large-text {
    line-height: 1;
  }
}

.headline .small-text {
  max-width: 24rem;
  color: var(--clr-headline-desc);
  line-height: 1.5;
}

/* .rating-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
} */

.rating-item {
  margin-bottom: 1rem;
  width: 28rem;
}

@media (min-width: 60rem) {
  .rating-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }

  .rating-item {
    display: flex;
    justify-content: end;
  }

  .rating-item[data-rating-item-key="item-1"] {
    margin-right: 8rem;
  }

  .rating-item[data-rating-item-key="item-2"] {
    margin-right: 4rem;
  }
}

/* Was added to create staircase layout for rating items */
.rating-item-content {
  background-color: var(--clr-bg-rating-item);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 60rem) {
  .rating-item-content {
    flex-direction: row;
  }
}

.stars {
  display: flex;
}

.stars svg {
  margin-right: 0.5rem;
}

.stars svg:last-of-type {
  margin-right: 0;
}

.rating-item-text {
  padding: 0 1rem;
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
}

.review-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 60rem) {
  .review-group {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}

.review-item {
  /* height: 16rem; */
  background-color: var(--clr-primary);
  border-radius: 0.5rem;
  padding: 2.25rem 2rem;
}

@media (max-width: 60rem) {
  .review-item {
    max-width: 25rem;
  }
}

@media (min-width: 60rem) {
  .review-item:nth-child(2) {
    transform: translateY(1rem);
  }

  .review-item:last-child {
    transform: translateY(2rem);
  }
}

.user-profile {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.user-photo-container {
  width: 3rem;
  aspect-ratio: 1 /1;
  border-radius: 50%;
  overflow: hidden;
}

.user-info {
  margin-left: 1.5rem;
}

.user-name {
  color: ghostwhite;
  font-weight: var(--fw-bold);
}

.user-state {
  color: var(--clr-user-state);
}

.user-comment {
  color: ghostwhite;
}

.bg-pattern-top {
  position: absolute;
  z-index: -1;
  width: 30%;
}

.bg-pattern-bottom {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  height: 90%;
}
